.center{
    display: flex;
    align-items: center;  
    justify-content: center;  
}

ion-input{
    background-color: #dddddd;
    border: #000
}

h5{
    color: #000000;
}

ion-list {
    background-color: #dddddd;
}

ion-select{
    background-color: #dddddd;
}
