<ion-header>
  <ion-toolbar color="header" class="ion-text-center">
    <ion-title>aaaa</ion-title>
    <ion-buttons slot="start">
      <ion-back-button href="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form>
        <ion-item>
          <ion-input class="ion-text-center" position="floating">
            Username
          </ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button color="boton" class="center">
        Recuperar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>