.center{
    display: flex;
    align-items: center;  
    justify-content: center;  
}

.btn {

    display: flex;
    align-items: center;  
    justify-content: center;  
    padding: 5px 10px;
    text-transform: uppercase;
}