<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating">USERNAME</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">PASSWORD</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button (click)="ingresar()">
        Ingresar
      </ion-button>
      <br>
      <a href="">¿Olvidaste tu contraseña?</a>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [routerLink]="['/registro']">REGISTRATE</ion-button>
  </ion-toolbar>
</ion-footer>
