<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 
    <ion-button color="boton" class="center" (click)="CerrarSesion()">
        Cerrar Sesión
      </ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="header">
      <ion-title class="ion-text-center">Pasajero</ion-title>
      <ion-buttons slot="start">
        <ion-back-button default-href="/inicio"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card *ngFor="let viaje of getViajesMostrables()">
      <ion-card-header color="boton" class="center">
        {{ viaje.origen }} a {{ viaje.destino }}
      </ion-card-header>
      <ion-card-content>
        <br>
        <p>Fecha: {{ viaje.fecha }}</p>
        <p>Hora de Salida: {{ viaje.hora }}</p>
        <p>Costo: {{ viaje.costo }}</p>
        <p>Asientos Disponibles: {{ viaje.asiento_disponible }}</p>
     <br>
        <h2 class="center">
        Información Vehiculo
      </h2>
      <br>
      <p>{{ viaje.marca }} {{ viaje.modelo }}</p>
      <p>Patente: {{ viaje.patente }}</p>
      <p>Color: {{ viaje.color }}</p>
      </ion-card-content>

      <ion-button color="boton" class="center" (click)="restarAsiento(viaje)">UNIRSE</ion-button>
    </ion-card>